<section class="business-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="business-intro-group">
                    <i class="fa-solid fa-cube color-purple"></i>
                    <p>Centralized Information</p>
                    <small>
                        Keep all your customer data, communications, and interactions in one centralized location. 
                    </small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="business-intro-group">
                    <i class="fa-solid fa-compress color-purple-dark"></i>
                    <p>Enhanced Collaboration</p>
                    <small>
                        Collaborate seamlessly with team members through shared calendars, task assignments, and real-time updates.
                    </small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="business-intro-group">
                    <i class="fa-solid fa-bars-progress color-red"></i>
                    <p>Task Management</p>
                    <small>
                        Assign tasks, set deadlines, and track progress all within CGI Connect. 
                    </small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="business-intro-group">
                    <i class="fa-solid fa-chart-simple"></i>
                    <p>Analytics</p>
                    <small>
                        Keep all your customer data, communications, and interactions in one centralized location. 
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>