<footer class="text-center">
    <small>
        Founded in 1976, CGI is privileged to work with clients around the world to use technology to support the vital workings of society and create a better future for all.
    </small>
    <p>&copy; <%= new Date().getFullYear() %> CGI Internal CRM | Made with <i class="fa fa-heart color-red" aria-hidden="true"></i> in Manchester and Liverpool.</p>
</footer>  