
<header class="site-header">
    <div class="logo">
        <a href="/">
            <img src="/images/CGIConnect.png" alt="CGI Connect Logo">
        </a>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/admin">Admin</a>
        <a href="/login" class="login-cta">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> &nbsp;Login
        </a>

        <!-- </% if (user && user.isAdmin) { %>
            <a href="/admin/customers">Admin</a>
        </% } %> -->
    </nav>

    <div class="mobile-toggle">
        <i class="fa-solid fa-grip-lines"></i>
    </div>
</header>