<section class="homepage-cta">
    <div class="container py-6">
        <div class="intro">
            <figure>
                <img src="/images/CRM_header.webp" alt="crm figure">
            </figure>
            <article>
                <h3>Integrated Communication</h3>
                <p>
                    Communicate with clients and team members directly from the CRM. Log calls, send emails, and schedule meetings without leaving the platform.
                </p>
        
                <a href="/about" class="cgi-btn">Learn more</a>
            </article>
        </div>
    </div>
</section>