<section class="pricing">
    <div class="container text-center pricing-header">
        <h6 class="pricing-plan"><i class="fa-brands fa-stack-exchange"></i> Pricing plan</h6>
        <h2 class="pricing-title">Choosing your best plan</h2>
        <p class="pricing-intro">
            Reach your goals faster with our CRM for business automation, email marketing software built for growing small businesses.
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="pricing-card">
                    <h6 class="pricing-card-title">Free</h6>
                    <h4 class="pricing-card-cost">
                        £0 <span>per user/month</span>
                    </h4>
                    <small class="pricing-card-info">
                        For small teams looking to automate basic sales, marketing and business processes.
                    </small>
                    <hr>
                    <div class="pricing-details">
                        <p>Core features</p>
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> Email marketing</li>
                            <li><i class="fa-solid fa-circle-check"></i> Marketing, sales, workflow automation</li>
                            <li><i class="fa-solid fa-circle-check"></i> Pipelines</li>
                            <li><i class="fa-solid fa-circle-check"></i> Lead management</li>
                            <li><i class="fa-solid fa-circle-check"></i> Up to 3 seats</li>
                        </ul>
                        <button class="cgi-btn-white">Get started</button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="pricing-card">
                    <h6 class="pricing-card-title">Plus</h6>
                    <h4 class="pricing-card-cost">
                        £29 <span>per user/month</span>
                    </h4>
                    <small class="pricing-card-info">
                        For growing who need more advanced marketing, sales, and business automation.
                    </small>
                    <hr>
                    <div class="pricing-details">
                        <p>Everything in Free, plus</p>
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> Advanced lead optimization</li>
                            <li><i class="fa-solid fa-circle-check"></i> Enhanced landing pages & sales</li>
                            <li><i class="fa-solid fa-circle-check"></i> Ecommerce tools</li>
                            <li><i class="fa-solid fa-circle-check"></i> Advanced reporting</li>
                            <li><i class="fa-solid fa-circle-check"></i> No seats limits</li>
                        </ul>
                        <button class="cgi-btn-white">Get started</button>
                    </div>
                    <div class="pricing-card-badge">
                        <i class="fa-solid fa-fire"></i>
                        <span>Most popular</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="pricing-card">
                    <h6 class="pricing-card-title">Professional</h6>
                    <h4 class="pricing-card-cost">
                        £59 <span>per user/month</span>
                    </h4>
                    <small class="pricing-card-info">
                        For larger teams or companies that need advanced business process automation.
                    </small>
                    <hr>
                    <div class="pricing-details">
                        <p>Core features, plus</p>
                        <ul>
                            <li><i class="fa-solid fa-circle-check"></i> Premium CRM & Sales management</li>
                            <li><i class="fa-solid fa-circle-check"></i> Advanced marketing & sales tools</li>
                            <li><i class="fa-solid fa-circle-check"></i> Custom user access control</li>
                            <li><i class="fa-solid fa-circle-check"></i> Affiliate management & collaboration</li>
                            <li><i class="fa-solid fa-circle-check"></i> Priority support</li>
                        </ul>
                        <button class="cgi-btn-white">Get started</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>