.sidebar-left {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 100px;
    left: 0;
    background: $purpleDark;
    padding: 20px;

    img {
        width: 60px;
        border-radius: 20px;
    }
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    position: relative;

    a {
        color: white;
        text-decoration: none;
        margin: 10px 0;
    }
}

.dashboard-header {
    background: white;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
}

.date-time {
    color: $purpleDark;
    font-size: 14px;
}

.dashboard-title {
    margin: 30px 0;
}

.metrics-card {
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 130px;

    @media (max-width: 800px) {
        align-items: flex-start;
    }

    &-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        color: white;

        &:nth-of-type(1) {
            background: $purple;
        }

        &:nth-of-type(2) {
            background: $red;
        }

        &:nth-of-type(3) {
            background: $purpleDark;
        }
    }

    &-content {
        p {
            font-size: 14px;
            margin: 0;
        }

        h5 {
            font-weight: bold;
            margin: 0;
        }
    }
}

.sidebar-metrics-card {
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;

    &-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $purple;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        color: white;
    }

    &-content {
        p {
            font-size: 14px;
            margin: 0;
        }

        h5 {
            font-weight: bold;
            margin: 0;
        }
    }
}

.progress-bar {
    background: $purple;
    transition: width 0.6s ease;
}

.progress-bar-red {
    background-color: $red !important;
}

.chart-container {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: white;
    padding: 20px;
    margin: 3rem 0;
}

.balance-card,
.users-card,
.contracts-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    h5 {
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.registered-users, .running-contracts {
    margin-top: 20px;
}

.registered-user-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registered-user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;

    .initials {
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: $purple;
        border-radius: 50%;
        color: whitesmoke;

        margin-right: 10px;
    }

    .registered-user-details {
        p, small {
            margin: 0;
        }

        small {
            font-size: 12px;
            margin-top: 0;
        }

        p {
            color: $purpleDark;
            font-weight: semibold;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

.edit-user {
    background: $purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.contract-details {
    margin-bottom: 25px;

    p {
        margin: 0 0 10px 0;
        font-weight: semibold;
    }
}

@media (max-width: 860px) {
    .sidebar-left {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        top: unset;
        width: 100%;
        height: 120px;
    }
}