.customer-login {
    margin: 15rem 0;
}

.admin-login-page,
.admin-register-page,
.forgot-password-page {
    margin: 10rem 0;

    img {
        width: 65px;
        height: 65px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}