.business-intro {
    padding: 3rem 0;
}

.business-intro-group {
    margin: 20px 0;
    p {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
    }

    svg {
        font-size: 1.5rem;
    }
}