<%- include('../layouts/header') %>
    <section class="about-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 mt-5 mb-3">
                    <h1>About us</h1>
                    <p>
                        At CGI Connect, we harness the power of seamless connectivity and collaboration to keep our team and
                        clients in sync, ensuring efficient and practical work. We envision a world without communication
                        barriers, where every team reaches its full potential. Our comprehensive CRM solution simplifies
                        processes, boosts productivity, and fosters transparency and trust.
                    </p>
                    <div class="row about-numbers">
                        <div class="col-sm-6 col-md-4">
                            <h3>220+</h3>
                            <p>successful projects</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3>100+</h3>
                            <p>happy clients</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3>10+</h3>
                            <p>team members</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3>5+</h3>
                            <p>years in business</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3>99%</h3>
                            <p>customer satisfaction</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3>24/7</h3>
                            <p>support</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="/images/about-crm.png" alt="crm illustration">
                </div>
            </div>
        </div>
    </section>
    
    <section class="team-section">
        <div class="container text-center">
            <h2>Meet our team</h2>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="team-member">
                        <img src="/images/efosa.png" alt="efosa">
                        <div class="team-member-content">
                            <h4>Efosa Igbinehi</h4>
                            <p>Team lead, Python developer, Software engineer</p>
                        </div>
                        <br>
                        <a href="https://www.linkedin.com/in/efosaigbinehi/" class="cgi-btn" target="_blank">Read more</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="team-member">
                        <img src="/images/karina.png" alt="karina">
                        <div class="team-member-content">
                            <h4>Karina Romano</h4>
                            <p>Graphic designer, web copywriter, Software engineer</p>
                        </div>
                        <br>
                        <a href="https://www.linkedin.com/in/karinaromano/" class="cgi-btn" target="_blank">Read more</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="team-member">
                        <img src="/images/aidan.png" alt="aidan">
                        <div class="team-member-content">
                            <h4>Aidan Smith</h4>
                            <p>UX/UI designer, Frontend developer, Software engineer</p>
                        </div>
                        <br>
                        <a href="https://www.linkedin.com/in/aidan-smith-b698a21a4/" class="cgi-btn" target="_blank">Read
                            more</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="team-member">
                        <img src="/images/amaar.png" alt="amaar">
                        <div class="team-member-content">
                            <h4>Amaar Azam</h4>
                            <p>Database developer, SQL, Software engineer</p>
                        </div>
                        <br>
                        <a href="https://www.linkedin.com/in/amaar-azam/" class="cgi-btn" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%- include('../partials/pricing-section') %>

<%- include('../layouts/footer') %>